# Entornos virtuales
venv/
.venv/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# SQLite
*.db
*.sqlite3

# Buildozer / Android
.bin/
build/
.gradle/

# Logs
*.log

# Variables de entorno
.env

secret_config.py
